body {
  background: url(../images/background.png);
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
  color: black;
      text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff; 
  margin-top: 150px;
}

div {
  text-align: center;
}

ul {
  display: inline-block;
  margin: 0 8%;
  padding: 0;
  width: 480px;
  height: 480px;
  border: 5px ridge #CDCD00;
  /*border-image: url(../images/border.jpg) 25% repeat;*/
}

li {
  width: 78px;
  height: 78px;
  border: 1px dashed #CDCD00;
  list-style: none;
  float: left;
  text-align: center;
  line-height: 38px;
  background-size: cover;
}

h1 {
  text-align: center;
  display: inline-block;
  width: 100%;
}

#left {
  display: inline-block;
  width: 20%;
  height: 400px;
  float: left;
}

#left div {
  display: inline-block;
  width: 100%;
}

