body {
  background: url(../images/background.png);
  background-size: cover;
}

div {
  text-align: center;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 480px;
  height: 480px;
  border: 5px ridge #CDCD00;
  /*border-image: url(../images/border.jpg) 25% repeat;*/
}

li {
  width: 78px;
  height: 78px;
  border: 1px dashed #CDCD00;
  list-style: none;
  float: left;
  text-align: center;
  line-height: 38px;
}

h1 {
  text-align: center;
}